@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
  padding: 0;
  margin: 0;
}



.wrapper{
  padding: 0 0 5%;
}
.app{
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "sidebar navbar"
    "sidebar main"
    "sidebar main";
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
.sidebar{
  padding: 30px;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-weight: 600;
  height: 100vh;
  border-right: 1px solid black;
}
nav{
  display: flex;
  grid-area: navbar;
}
main{
  grid-area: main;
}
